@font-face {
    font-family: 'Graphik';
    src: local('Graphik Medium'), local('Graphik-Medium'),
        url('../fonts/Graphik-Medium.woff2') format('woff2'),
        url('../fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: local('Graphik Regular'), local('Graphik-Regular'),
        url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

html {
    box-sizing: border-box;
}

.body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --black: #181818;
    --white: #FFFFFF;
    --blue: #4452FE;
    --gray: #5C5C5C;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    padding: 16px;
    border: 1px solid var(--white);
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    background-color: var(--black);
}

body {
    font-family: "Graphik", "Arial", sans-serif;
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header {
    background-color: #181818;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item {
    margin-right: 42px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: var(--white);
}

.header__btn {
    padding: 13.5px 38px 11.5px 45px;

}

.hero {
    padding-bottom: 50px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

/* hero */

.hero__container {
    margin-bottom: 15px;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 110px;
    background-color: var(--black);
}

.hero::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 550px;
    background: linear-gradient(#00000000, #0E0E0E);
}

.hero__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 115px;
}

.hero__title {
    text-align: center;
    margin-bottom: 18px;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    color: var(--white);
}

.hero__subtitle {
    text-align: center;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
}

.hero__button {
    display: flex;
    gap: 20px;
}

.hero__btn-l {
    padding: 20px 40px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.hero__btn-r {
    padding: 15px 40px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

/* options */

.options {
    padding-top: 110px;
    padding-bottom: 95px;
    background-color: var(--black);
}

.options__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    text-align: center;
}

.options__title {
    margin-bottom: 20px;
    color: var(--white);
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
}

.options__subtitle {
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.options__detail {
    display: grid;
    grid-template-columns: 75% 25%;
}

.options__advantages {
    display: flex;
    align-items: center;
}

.options__list {
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.options__item {
    color: var(--white);
}

.options__subject {
    margin: 0;
    padding-left: 10px;
}

.options__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.options__top {
    display: flex;
}

.options__icon {
    display: block;
    padding: 4px;
}

.options__text {
    padding: 10px 35px 0 15px;
}

/* extension */

.extension {
    padding-top: 90px;
    padding-bottom: 115px;
    background-color: var(--black);
}

.extension__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extension__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.extension__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 40px 35px;
    border-radius: 10px;
    background-color: var(--white);
}

.extension__item-top {
    padding: 0px 30px;
}

.extension__subject {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.extension__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: var(--white);
}

.extension__subtitle {
    padding: 0 200px;
    display: flex;
    text-align: center;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
}

.extension__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}

.extension__btn {
    padding: 20px 40px;
    margin-bottom: 30px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

/* gallery */

.gallery {
    padding-top: 125px;
    padding-bottom: 75px;
    background-color: var(--black);
}

.gallery__container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
}

.gallery__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: var(--white);
}

.gallery__subtitle {
    margin-bottom: 55px;
    width: 50%;
    color: var(--white);
}

.gallery__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 30px;
}

.gallery__list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 260px;
}

.gallery__item1 {
    background-image: url(/img/gallery-1.png);
    border-radius: 10px;
    overflow: hidden;
}

.gallery__item2 {
    background-image: url(/img/gallery-2.png);
    border-radius: 10px;
    overflow: hidden;
}

.gallery__item3 {
    background-image: url(/img/gallery-3.png);
    border-radius: 10px;
    overflow: hidden;
}

.gallery__item4 {
    background-image: url(/img/gallery-4.png);
    border-radius: 10px;
    overflow: hidden;
}

.gallery__list-2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 35% 20% 35%;
    grid-template-rows: 285px;
}

.gallery__item5 {
    background-image: url(/img/gallery-5.png);
    border-radius: 10px;
    overflow: hidden;
}

.gallery__item6 {
    background-image: url(/img/gallery-6.png);
    border-radius: 10px;
    overflow: hidden;
}

.gallery__item7 {
    background-image: url(/img/gallery-7.png);
    border-radius: 10px;
    overflow: hidden;
}

/* partners */

.partners {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--black);
}

.partners__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.partners__title {
    color: var(--white);
}

.partners__subtitle {
    margin-bottom: 40px;
    color: var(--white);
}

.parners__logo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.parners__image {
    display: block;
}

/* reviews */

.reviews {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: var(--black);
}

.reviews__content {
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows: 230px 230px;
    column-gap: 20px;
    row-gap: 20px;
}

.reviews__item {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--white);
}

.reviews__desc {
    color: var(--white);
}

/* footer */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--black);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: var(--white);
}

.footer__text {
    margin-bottom: 20px;
    color: var(--white);
}

.footer__desc {
    display: flex;
    flex-direction: column;
}

.footer__title-img {
    display: block;
}

.fotter__copyright {
    width: 19%;
    display: flex;
    flex-direction: column;
}

.footer__address {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--white);
}

.footer__tel {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: var(--white);
}

.footer__icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}